* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-image: url('Imagens/fundo2.png');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}
header {
    background-color: #1f1f1f;
    text-align: center;
    color: white;
    padding: 20px;
}
nav {
    text-align: center;
}

a {
    color: snow;
}
div {
    margin: 20px;
    padding: 32px;
}
.cadastro {
    background-color: white;
    color:black;
    padding: 16px;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    border: 2px solid black;
}
input[type="text"],
input[type="email"],
textarea,
select {
    width: 90%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid; 
    border-radius: 3px;
}
input[type="submit"],
input[type="reset"],
button {
    padding: 15px 15px;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    color: black   
}
footer{
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
    text-align: center;
    padding: 50px; 
}