* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
}
header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px; /* espaço interno opcional */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
nav {
    text-align: center;
}

a {
    color: black;
}
div {
    margin: 20px;
    padding: 32px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    color: greenyellow
}

th, td{
    background-color: gray;
    padding: 10px;
    border: 5px solid greenyellow;
}

tr {
    background-color: gray;
}

.aulas {
    width: 30%;
    margin: auto;
}

.aulas1 {

    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border: 1px solid black;
    background-color: gray;
    list-style-type: none;
    padding: 20px;
    border-radius: 10px;
}
footer{
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
    text-align: center;
    padding: 50px; 
}
.logo-superior {
  width: 350px;     /* ou o tamanho desejado */
  height: auto;
  display: block;
}
.grade-experiencias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 10px;
  justify-items: center;
}

.card-experiencia {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  max-width: 320px;
  transition: transform 0.2s ease;
}

.card-experiencia:hover {
  transform: translateY(-5px);
}

.card-experiencia img {
  width: 100%;
  height: 200px;
}

.card-experiencia p {
  padding: 15px;
  font-size: 16px;
  color: #333;
}