body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: snow;
    text-align: center;
}
header {
    text-align: center;
    color: snow;
}
nav {
    text-align: center;
}

a {
    color: snow;
}
div {
    margin: 20px;
    padding: 32px;
}
